{% extends 'base.html.twig'%}

{% block title %} Test Debates{% endblock %}

{% block body %}
{% if debates %}
<table class="table table-striped">
  <thead>
    <tr>
      <th>debate title</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
  {% for debate in debates %}
  <tr>
    <td>{{debate}}</td>
    <td>
      <a href="/debate/1" class="btn btn-dark">Show</a>
    </td>
  </tr>
  {% endfor %}
  </tbody>
</table>
{% else %}
<p>No debates</p>
{% endif %}
{% endblock %}