<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="ie=edge" http-equiv="X-UA-Compatible">
        <title>
            {% block title %}Welcome!
            {% endblock %}
        </title>
        {% block stylesheets %}{% endblock %}

    </head>
    <body>
       {{ include('inc/navbar.html.twig')}}
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
